.main h1 {
    text-align: center;
}


/* .card {
    width: 500px;
    height: 500px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
} */