<div class="main">
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
        <p-card>
            <div class="heading">
                <h3>Reset password</h3>
                <p>Please enter your email address to request a password reset.</p>
            </div>
            <div class="form-group">
                <span class="p-input-icon-left">
               <i class="pi pi-envelope"></i>
               <input type="text" pInputText placeholder="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">         
            </span><br>
                <span *ngIf="!f.email.valid && f.email.touched && !f.email.errors?.pattern" style="color: red;">Email is required</span>
                <div *ngIf="f.email.errors?.pattern" style="color: red;">please enter valid Email</div>
            </div>
            <br>
            <div>
                <button pButton type="submit" label="Submit" class="p-button-primary" value="Reset Password" (click)="authService.ForgotPassword(this.registerForm.value.email)"></button>
            </div><br>
            <div>
                <div class="redirectToLogin">
                    <span class="p-float-label">Don't have an account?<span class="redirect" routerLink="/sign-in"> Sign In</span></span>
                </div><br>
            </div>
        </p-card>
    </form>
</div>