.main input {
    width: 500px;
    margin-top: 20px;
}

.main button {
    width: 500px;
    font-size: 20px;
    margin-top: 20px;
}

.forgotPassword {
    margin-left: 380px;
    color: rgb(7, 97, 153);
}

.redirectToLogin {
    margin-left: 100px;
    margin-top: 1px;
}

.redirect {
    color: rgb(7, 97, 153);
}

.main {
    margin-top: 150px;
    height: 1000px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.heading {
    text-align: center;
}

.heading h3 {
    font-size: 30px;
    font-family: poppins;
    font-size: 35px;
    font-weight: bold;
    margin-top: 10px;
}

.heading p {
    font-family: poppins;
    font-size: 18px;
    margin-top: 35px;
}

.main i {
    margin-top: 1px;
}