<!-- <div class="container-fluid">
    <div class="row">
        <div col> -->
<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <a class="navbar-brand col-sm-3 col-md-2 mr-0">
                    <img class="brand-logo" src="../../../assets/images/main.png.crdownload" style alt="positronX.io Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" routerLink="/student-profile"><i class="pi pi-user mt-3" ></i>User Profile <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/student-add"> <i class="pi pi-user-plus mt-3"></i>Add Student</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"><i class="pi pi-list mt-3" 
                                ></i>
                               Student List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="authService.SignOut()"> <i class="pi pi-sign-out mt-3"></i>Log Out</a>
                        </li>
                    </ul>
                </div>
            </nav> -->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0">
            <img class="brand-logo" src="../../../assets/images/main.png.crdownload" style alt="positronX.io Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                  </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/student-profile"><i class="pi pi-user mt-3" ></i>User Profile <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/student-add"> <i class="pi pi-user-plus mt-3"></i>Add Student</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/student-list"><i class="pi pi-list mt-3" 
                        ></i><span class="user-image">
                        </span>
                       Student List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logOut()"> <i class="pi pi-sign-out mt-3"></i>Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- </div>
    </div>
</div> -->

<!-- <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0">
        <img class="brand-logo" src="../../../assets/images/main.png.crdownload" style alt="positronX.io Logo">
    </a>
    <ul>
        <li class="nav-item">
            <a class="nav-link active" style="font-size: 20px;color: white;margin-left: 600px; margin-bottom: 5px; " routerLink="/student-profile">
                <i class="pi pi-user mt-5" style="color: red; width: 40px; height: 30px; font-weight: bold;"></i>User Profile
            </a>
        </li>
    </ul>
    <ul>
        <li class="nav-item">
            <a class="nav-link active" routerLink="/student-add" style="font-size: 20px;color: white; margin-bottom: 5px; margin-left: 50px; ">
                <i class="pi pi-user-plus mt-5" style="color: red; width: 40px; height: 30px; font-weight: bold;"></i>Add Student
            </a>
        </li>
    </ul>
    <ul>
        <li class="nav-item" style="margin-right: 50px; font-size: 20px; color: white; margin-left: 50px; margin-top: 20px; list-style: none;">
            <a class="nav-link" routerLink="/student-list" style="margin-top:40px ;">
                <i class="pi pi-list" style="color: red; width: 40px; height: 30px; font-weight: bold;"></i>
                <span class="user-image">
                </span> Student-list
            </a>
        </li>
    </ul>
    <ul>
        <li class="nav-item">
            <a class="nav-link" style="font-size: 20px;  margin-right: 50px; margin-top: 35px; color:white" (click)="authService.SignOut()">
                <i class="pi pi-sign-out" style="color: red; width: 40px; height: 30px; font-weight: bold;"></i>Log Out
            </a>
        </li>
    </ul>
</nav> -->