 * {
     font-family: poppins;
     font-weight: bold;
     font-size: 15px;
 }
 /* .btn {
     margin-right: 100px;
 }
  */
 
 .h2 {
     margin-left: 700px;
     /* text-align: center; */
     font-size: 50px;
     font-family: poppins;
     font-weight: bold;
     color: brown;
 }