<div class="main">
    <div class="container">
        <p-card>
            <div class="row">
                <div class="col-md-12">
                    <form [formGroup]="editForm" (ngSubmit)="updateForm()">
                        <div class="heading">
                            <h1>Edit Student Details</h1>
                        </div>
                        <div class="form-group">
                            <label style="margin-top: 20px;">First Name</label>
                            <input class="form-control" type="text" placeholder="Please Enter First Name" style="margin-top: 10px;" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }">
                            <span *ngIf="( f['firstName'].touched && !f['firstName'].valid && !f['firstName'].errors)" style="color: red;">only alphabate allow</span>
                            <!-- <div *ngIf="f['firstName'].errors?.pattern" style="color: red;">Only alphabate allow </div> -->
                            <div *ngIf="(submitted && f['firstName'].errors)" class="invalid-feedback">
                                <div *ngIf="f['firstName'].errors">Name is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="margin-top: 20px;">Last Name</label>
                            <input class="form-control" type="text" placeholder="Please Enter Last Name" style="margin-top: 10px;" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }">
                            <span *ngIf="( f['lastName'].touched && !f['lastName'].valid && !f['lastName'].errors) " style="color: red;">Name is required</span>
                            <!-- <div *ngIf="f['lastName'].errors?.pattern" style="color: red;">Only alphabate allow </div> -->
                            <div *ngIf="(submitted && f['lastName'].errors)" class="invalid-feedback">
                                <div *ngIf="f['lastName'].errors">Name is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="margin-top: 20px;">Email</label>
                            <input class="form-control" type="text" placeholder="Please Enter Email" style="margin-top: 10px;" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                            <!-- <span *ngIf="!f['email'].valid && f['email'].touched && !f['email'].errors" style="color: red;">Email is required</span> -->
                            <div *ngIf="(submitted && f['email'].errors)" class="invalid-feedback">
                                <div *ngIf="f['email'].errors">email is required</div>
                            </div>
                            <!-- <div *ngIf="f['email'].errors" style="color: red;">please enter valid Email</div> -->
                            <!-- </div> -->
                        </div>
                        <div class="form-group">
                            <label style="margin-top: 20px;">Mobile number</label>
                            <input class="form-control" type="text" placeholder="Please Enter Mobile number" style="margin-top: 10px;" formControlName="mobileNumber" [ngClass]="{ 'is-invalid': submitted && f['mobileNumber'].errors }">
                            <span *ngIf="( f['mobileNumber'].touched && !f['mobileNumber'].valid && !f['mobileNumber'].errors) " style="color: red;">Mobile Number is required</span>
                            <div *ngIf="(submitted && f['mobileNumber'].errors)" class="invalid-feedback">
                                <div *ngIf="f['mobileNumber'].errors">Name is required</div>
                            </div>
                            <!-- <div *ngIf="f['mobileNumber'].errors" style="color: red;">please enter 10 number </div> -->
                            <!-- <div *ngIf="(submitted && f['mobileNumber'].errors)" class="invalid-feedback"> -->
                            <!-- <div *ngIf="f['mobileNumber'].errors">Mobile Number is required</div> -->
                        </div>
                        <br>
                        <div>
                            <button type="button" class="btn btn-secondary gap-right" (click)="goBack()">Go Back</button>&nbsp;
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </p-card>
    </div>
</div>